:root {
    --white: #e9e9ed;
  }
body{ 
    background-color: rgb(40,43,48); 
    font-family: 'Whitney', sans-serif;
    font-size: large;
    padding: none;
    margin: none;
    color: rgb(233, 233, 233);
}

#data_input{
  margin: 10px;
}
#data_input input{
  width: 300px;
  height:20px;
}
#data_input button{
  width: 90px;
  height:28px;
}

#data_text{
  display: inline-block;
  width: 500px;
  vertical-align: top;
}
#data_img{
  display: inline-block;
  width: 500px;
  vertical-align: top;
}